# name: Terraform CI/CD

# on:
#   pull_request:
#     branches: [ main ]
#   push:
#     branches: [ main ]

# jobs:
#   terraform:
#     runs-on: ubuntu-latest
    
#     steps:
#     - name: Checkout
#       uses: actions/checkout@v3
    
#     - name: Setup Terraform
#       uses: hashicorp/setup-terraform@v2
#       with:
#         terraform_version: 1.5.0
    
#     - name: Terraform Init
#       run: terraform init
#       env:
#         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    
#     - name: Terraform Format
#       run: terraform fmt -check
    
#     - name: Terraform Plan
#       if: github.event_name == 'pull_request'
#       run: terraform plan
#       env:
#         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    
#     - name: Terraform Apply
#       if: github.event_name == 'push'
#       run: terraform apply -auto-approve
#       env:
#         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}